body {
    color: #eee;
    background: #121212;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main {
    height: 80vh;
}

.city {
    height: 40vh;
    justify-content: center;
}

.day {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    border-top: solid black 3px;
}

.week-card {
    width: 25vw;
}